* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: grid;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.hijo1 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    width: 90%;
}

.hijo_1_1 {
    background-color: rgb(255, 255, 255);
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    gap: 3%;
    align-items: center;
}

.ph {
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;

}

.home {
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
}

.tex {
    font-family: 'Arial', sans-serif;
    color: gray;
    font-weight: normal;
}

.hijo_1_2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: right;
}

.lupa,
.bolsa {
    width: 5%;
}

.login {
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
}

.hijo2 {
    background-color: rgba(220, 220, 220, 1);
    width: 90%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 10%;
    position: relative;
}

.tex_2_1 {
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
    padding-top: 20%;
    font-size: 150%;
}

.tex_2_2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 380%;
    font-weight: 900;
}

.tex_2_3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 700%;
    font-weight: 900;

}

.boton {
    background-color: rgba(242, 45, 54, 1);
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 170px;
    transition: 0.3s
}

.con_tex {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img1 {
    position: absolute;
    width: 100%;
    top: 20%;
    right: -1%;
}

.des {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.des1 {
    text-align: right;
    max-width: 300px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 90%;
}

.ff {
    color: #888
}


.hijo3 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 90%;
    background-color: white;
    padding-top: 2%;
}

.hijo_3_1 {
    background-color: rgba(34, 34, 34, 255);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 90%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_1 {
    padding-top: 50%;
}

.t_2 {
    font-weight: bold;
    font-size: 150%;
    color: aliceblue;
}

.t_3 {
    font-family: 'Poppins', sans-serif;
    color: rgba(72, 72, 72, 255);
    font-size: 180%;
    font-weight: 900;
}

.boton_2 {
    background-color: rgba(242, 45, 54, 1);
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.hijo_3_2 {
    background-color: rgba(253, 198, 46, 255);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 90%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_2_1 {
    padding-top: 50%;
}

.t_2_2 {
    font-weight: bold;
    font-size: 150%;
    color: aliceblue;
}

.t_2_3 {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 217, 104, 255);
    font-size: 180%;
    font-weight: 900;
}

.boton_3 {
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    color: rgba(253, 198, 46, 255);
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.hijo_3_3 {
    background-color: rgba(244, 44, 55, 255);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 100%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_3_1 {
    padding-top: 20%;
}

.t_3_2 {
    font-weight: bold;
    font-size: 150%;
    color: aliceblue;
}

.t_3_3 {
    font-family: 'Poppins', sans-serif;
    color: rgba(246, 91, 99, 255);
    font-size: 280%;
    font-weight: 900;
}

.boton_4 {
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    color: rgba(246, 91, 99, 255);
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.hijo4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 90%;
    background-color: white;
    padding-top: 2%;
    gap: 2%;
}

.hijo_4_1 {
    background-color: rgba(220, 220, 220, 1);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 100%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_4_1 {
    padding-top: 20%;
    color: black;
}

.t_4_2 {
    font-weight: bold;
    font-size: 150%;
    color: rgb(0, 0, 0);
}

.t_4_3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 300%;
    font-weight: 900;
}

.boton_5 {
    background-color: rgba(242, 45, 54, 1);
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.hijo_4_2 {
    background-color: rgba(44, 208, 111, 255);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 100%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_4_2_1 {
    padding-top: 20%;
}

.t_4_2_2 {
    font-weight: bold;
    font-size: 150%;
    color: aliceblue;
}

.t_4_2_3 {
    font-family: 'Poppins', sans-serif;
    color: rgba(83, 214, 134, 255);
    font-size: 250%;
    font-weight: 900;
}

.boton_6 {
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    color: rgba(83, 214, 134, 255);
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.hijo_4_3 {
    background-color: rgba(22, 130, 255, 255);
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    width: 100%;
    padding-left: 10%;
    border-radius: 60px;
    padding-bottom: 15%;
    position: relative;
}

.t_4_3_1 {
    padding-top: 20%;
}

.t_4_3_2 {
    font-weight: bold;
    font-size: 150%;
    color: aliceblue;
}

.t_4_3_3 {
    font-family: 'Poppins', sans-serif;
    color: rgba(57, 153, 255, 255);
    font-size: 250%;
    font-weight: 900;
}

.boton_7 {
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    color: rgba(22, 130, 255, 255);
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s
}

.aur {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 5%;
    height: 100%;
    padding-right: 7%;
    padding-top: 5%;
}

.reloj {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 20%;
    height: 70%;
    padding-right: 7%;
    padding-top: 5%;
}

.pc {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 20%;
    height: 100%;
    padding-right: 7%;
    padding-top: 5%;
}

.ps5 {
    width: 60%;
    position: absolute;
    top: 7%;
    left: 47%;
    height: 90%;
    padding-right: 7%;
    padding-top: 5%;
}

.reali {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 90%;
    padding-right: 7%;
}

.speak {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 1%;
    padding-right: 7%;
}

.hijo5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    background-color: white;
    padding-top: 2%;
}

.imgss {
    width: 10%;
}

.hijo5 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}

.hijo_5_1,
.hijo_5_2,
.hijo_5_3,
.hijo_5_4 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.imgss {
    width: 30%;
}

.texto {
    display: flex;
    flex-direction: column;
}

.tu {
    font-weight: bold;
    color: #000;
    margin-top: 30%;
}

.tu2 {
    color: #888;
}

.hijo6 {
    background-color: rgba(244, 44, 55, 255);
    width: 90%;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-top: 10%;
    color: white;
    font-family: 'Arial', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}

.hijo6_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.hijo6_derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 5%;

}

.hijo6_izquierda .txt_peq,
.hijo6_derecha .txt_peq {
    font-size: 100%;
    font-weight: normal;
}

.hijo6_izquierda .txt_grande {
    font-size: 400%;
    font-weight: 1000;
    color: white;
    width: 55%;
}

.hijo6_derecha .txt_grande {
    font-size: 250%;
    font-weight: 900;
    color: white;
}

.hijo6_izquierda .txt_peq_abajo,
.hijo6_derecha .txt_peq_abajo {
    font-size: 90%;
    color: #f8dada;
    width: 60%;
}

.boton_6_final {
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    color: rgba(244, 44, 55, 255);
    font-weight: bold;
    font-size: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 82px;
    transition: 0.3s;
}

.boton_6_final:hover {
    background-color: #f1f1f1;
}

.hijo6_izquierda {
    position: relative;
}

.aud {
    position: absolute;
    width: 180%;
    top: -150%;
    left: 1%;
}

.hijo7 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.hijo_7_1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 200%;
    font-weight: 900;
    padding-top: 7%;
}

.hijo_7_2 {
    text-align: center;
    color: #888;
    font-family: 'Arial', sans-serif;
}

@media (max-width: 1345px) {
    .hijo1 {
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 90% 10%;
        padding: 1%;
        width: 90%;
    }

    .aud {
        position: absolute;
        width: 180%;
        top: -141%;
        left: 1%;
    }

    .tex {
        text-align: center;
        font-size: 100%;
    }

    .lupa,
    .bolsa {
        width: 30%;
    }
}

@media (max-width: 1245px) {
    .aud {
        position: absolute;
        width: 180%;
        top: -100%;
        left: 1%;
    }
    .t_4_3_3{
        font-size: 220%;
    }
}

@media (max-width: 1020px) {
    .padre {
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
    }

    .hijo1 {
        font-size: 100%;
        grid-template-columns: 70% 30%;
    }

    .lupa,
    .bolsa {
        width: 15%;

    }

    .tex {
        font-size: 80%;
    }

    .hijo_1_1 {
        width: 90%;
    }

    .hijo_1_2 {
        gap: 1%;
    }

    .hijo2 {
        padding-left: 8%;
        padding-right: 8%;
        border-radius: 50px;
    }

    .tex_2_1 {
        padding-top: 10%;
    }

    .tex_2_2 {
        font-size: 300%;
    }

    .tex_2_3 {
        font-size: 500%;
    }

    .img1 {
        width: 90%;
        top: 25%;
        right: 0;
    }

    .boton {
        font-size: 70%;
        width: 110px;
        height: 50px;
    }

    .hijo3 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        background-color: white;
        padding-top: 2%;
        justify-items: center;
        justify-content: center;
        gap: 2%;
    }

    .hijo_3_1,
    .hijo_3_2 {
        width: 49%;
    }

    .hijo_3_3 {
        width: 100%;
        margin-top: 2%;

    }

    .hijo_3_3 .t_3_3,
    .hijo_4_1 .t_4_3,
    .hijo_4_2 .t_4_2_3,
    .hijo_4_3 .t_4_3_3 {
        font-size: 320%;
    }

    .hijo4 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        background-color: white;
        padding-top: 2%;
        justify-content: center;
        gap: 2%;
    }

    .hijo_4_1,
    .hijo_4_2 {
        width: calc(50% - 1%);
        box-sizing: border-box;
    }

    .hijo_4_3 {
        width: 100%;
        box-sizing: border-box;
        margin-top: 2%;
    }

    .hijo6_izquierda .txt_grande {
        font-size: 350%;
        width: 70%;
    }

    .hijo6_derecha .txt_grande {
        font-size: 220%;
    }

    .aud {
        width: 140%;
        top: -80%;
        left: 16%;
    }

    .hijo5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        width: 90%;
        padding: 0;
        padding-top: 2%;
    }

    .hijo_5_1,
    .hijo_5_2,
    .hijo_5_3,
    .hijo_5_4 {
        width: 48%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .imgss {
        width: 30%;
        gap: 0%;
    }

    .reloj {
        left: 30%;
        padding-right: 0%;
        padding-top: 0%;
        width: 70%;
    }

    .reali {
        padding-right: 0%;
        left: -3%;
    }

    .pc {
        left: 40%;
        padding-right: 0%;
        width: 60%;
        padding-top: 0%;
    }

    .ps5 {
        left: 49.7%;
        padding-top: 0%;
        padding-right: 0%;
        top: 35%;
        width: 50%;
        height: 50%;
    }

    .speak {
        top: 20%;
        left: 40%;
        width: 60%;
        padding-right: 0%;
    }

    .hijo7 {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 768px) {


    .hijo1 {
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 90% 10%;
        padding: 1%;
        width: 90%;
    }



    .home {
        font-family: 'Arial', sans-serif;
        color: black;
        font-weight: bold;
    }

    .tex {
        font-family: 'Arial', sans-serif;
        color: gray;
        font-size: 100%;
    }

    .hijo_1_2 {
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        gap: 2%;
        justify-content: right;
    }

    .lupa,
    .bolsa {
        width: 50%;
    }

    .login {
        font-family: 'Arial', sans-serif;
        color: black;
        font-weight: bold;
    }

    .hijo3,
    .hijo4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .hijo5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        width: 90%;
        padding: 0;
        padding-top: 2%;
    }

    .hijo_5_1,
    .hijo_5_2,
    .hijo_5_3,
    .hijo_5_4 {
        width: 48%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .hijo_3_3,
    .hijo_4_3 {
        margin-top: 0%;
    }

    .imgss {
        width: 30%;
        gap: 0%;
    }

    .t_1,
    .t_2_1 {
        padding-top: 20%;

    }

    .aur {
        padding: 0%;
        width: 80%;
        left: 20%;
    }

    .pc {
        width: 80%;
        left: 20%;
    }

    .reali {
        width: 60%;
        left: 40%;
    }

    .hijo_3_2,
    .hijo_3_1,
    .hijo_3_3,
    .hijo_4_1,
    .hijo_4_2,
    .hijo_4_3 {
        width: 90%;
        box-sizing: border-box;
    }
}

@media (max-width: 710px) {

    .aud {
        padding: 0%;
        width: 150%;
        left: 30%;
        top: -50%;
    }

    .tex {
        font-family: 'Arial', sans-serif;
        color: gray;
        font-size: 90%;
    }
}

@media (max-width:590px) {
    .hijo1 {
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 95% 5%;
        padding: 1%;
        width: 90%;
    }

    .tex_2_3 {
        font-size: 450%;
    }

    .img1 {
        width: 90%;
        top: 30%;
        right: 0;
    }

    .tex {
        font-family: 'Arial', sans-serif;
        color: gray;
        font-size: 70%;
    }
}

@media (max-width: 550px) {

    .tex {
        font-family: 'Arial', sans-serif;
        color: gray;
        font-size: 70%;
    }

    .hijo3,
    .hijo4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .hijo5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        width: 90%;
        padding: 0;
        padding-top: 2%;
    }

    .hijo_5_1,
    .hijo_5_2,
    .hijo_5_3,
    .hijo_5_4 {
        width: 48%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .hijo_3_3,
    .hijo_4_3 {
        margin-top: 0%;
    }

    .imgss {
        width: 30%;
        gap: 0%;
    }

    .t_1,
    .t_2_1 {
        padding-top: 20%;

    }

    .aur {
        padding: 0%;
        width: 80%;
        left: 20%;
    }

    .pc {
        width: 80%;
        left: 20%;
    }

    .reali {
        width: 60%;
        left: 40%;
    }

    .hijo_3_2,
    .hijo_3_1,
    .hijo_3_3,
    .hijo_4_1,
    .hijo_4_2,
    .hijo_4_3 {
        width: 90%;
        box-sizing: border-box;
    }

    .tex_2_3 {
        font-size: 300%
    }


    .hijo6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hijo6 {
        text-align: center;
    }

    .hijo6_izquierda {
        padding-left: 0%;
    }

    .hijo6_izquierda .txt_grande {
        font-size: 350%;
        width: 100%;
        padding-left: 0%;
        text-align: center;
    }

    .hijo6_izquierda .txt_peq_abajo,
    .hijo6_derecha .txt_peq_abajo {
        font-size: 90%;
        color: #f8dada;
        width: 100%;
    }

    .hijo6_derecha {
        padding-right: 0%;
    }

    .bot6 {
        display: flex;
        justify-content: center;
    }

    .aud {
        width: 100%;
        top: -140%;
        left: 5%;
    }
}

@media (max-width: 480px) {
    .login {
        font-size: 80%;
        gap: 0%;
    }
    .lupa,.bolsa{
        width: 100%;
    }
    .tex{
        font-size: 0%;
    }

    .aud {
        width: 100%;
        top: -120%;
        left: 5%;
    }
}
@media (max-width: 450px) {
    .tex{
        font-size: 0%;}
        .login {
        font-size: 80%;
        gap: 0%;
    }
    .lupa,.bolsa{
        width: 100%;
    }
    }

@media (max-width: 430px) {
    .hijo_1_1 {
        background-color: rgb(255, 255, 255);
        display: flex;
        grid-template-columns: repeat(6, 3fr);
        gap: 3%;
        align-items: center;
    }

    .login {
        font-size: 80%;
        gap: 0%;
    }
    .lupa,.bolsa{
        width: 100%;
    }

    .tex {
        font-size: 0%;
    }

    .aud {
        width: 100%;
        top: -60%;
        left: 5%;
    }
    .tex_2_3{
        font-size: 250%;
    }
}